body {
  font-family: Arial;
  direction: rtl;
  background: #f4f4f4;
  margin: 0;
}

.home {
  text-align: center;
  padding: 40px;
}

.quiz {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

img {
  width: 100%;
  border-radius: 10px;
}

.result {
  text-align: center;
  padding: 40px;
}